a {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  background-color: #caf;
  color: #217;
  /* Uma pequena animação */
  /* transition: .3s; */
}

a:hover{
  background-color: #adf;
  color: #147;
}

/* Navegação de tab, elementos que pode ter interação  */
a:focus{
  background: #cfa;
  color: rgb(119, 17, 17);
  outline: auto;
}

a:active{
  background: #ffa;
  color: #761;
}

/* Link já visitado */
/* a:visited {
  background: #fda;
  color: #731;
} */

/* ---------------------------------------------------------------- */

/* .lista-1 li{
  background: #ffa;
} */

.lista-1 li:first-child{
  background: #caf;
}

.lista-1 li:last-child{
  background: #cfa;
}

.lista-1 li:nth-child(4){
  background-color: lightblue;
}

.lista-2 li:nth-child(even){
  background-color: lightblue;
}

.lista-3 li:not(:first-child,:last-child){
  background: #caf;
}

/* Também vale para classes */

h2:not(.contato){
  text-decoration: underline;
}